{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algolab Codeshare</title>
    <link rel="stylesheet" href="{% static "highlight/default.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static "highlight/highlight.pack.js" %}"></script>
    <script src="{% static "semantic/semantic.min.js" %}"></script>
</head>
<body>
<div class="ui top fixed menu">
    <a class="active item" href="/">AlgoLab CodeShare</a>
    <div class="menu">
        <div class="ui aligned category search item">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Search problems...">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
</div>
<div style="margin-top:50px">
    {% block body %}
    {% endblock %}
</div>
<script type="text/javascript">
    var content = [
        {% for problem in problems %}
            {
                title: '{{ problem.title }}: {{ problem.name }}',
                id:{{ problem.id }}
            },
        {% endfor %}
    ];
    $('.ui.search').search({
        source: content,
        apiSettings: {},
        onSelect: function (result) {
            window.location = "/problem/" + result.id;
        }
    });
</script>
</body>
</html>