{% extends "base.html" %}

{% block body %}
    <div class="ui container center aligned segment ">
        <div class="ui text container center">
            <h1 class="ui header">Search your problem</h1>
        </div>
        <div class="ui container center">
            <div class="ui fluid search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="AlgoLab problems">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <h1 class="ui header">Recent submissions</h1>
        <div class="ui four cards">
            {% for code in codes %}
                <a class="ui card" href="/code/{{ code.id }}">
                    <div class="content">
                        <div class="header">Code for {{ code.problem.name }} by {{ code.handle }}</div>
                        <div class="meta">
                            Score: {{ code.score }}
                        </div>
                        <div class="description">
                            {{ code.description|truncatewords:20 }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}